@import '../mixins';
@import '../variables';

.followContentContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 870px;
    height: 60vh;
    overflow: auto;
    position: relative;
    padding: 15px;

    @media (max-width: 630px) {
        height: 50vh;
    }

    .emailAndSocials {
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
        width: 60%;
        max-width: 1300px;
        height: auto;
        text-align: center;
        // padding: 15px 0;
        position: relative;
        font-family: 'Poppins-ExtraLight';

        @media (max-width: 630px) {
            padding: 10px 0;
            width: 100%;
        }

        .emailSignUp {
            width: 100%;
            max-width: 1000px;
            min-width: 200px;

            .form {
                background: $poro-green-50-percent;
                padding: 10px;
                border-radius: 0px;
                // background-color: #eee;
                // border: 2px solid #000;
                width: 95%;
                margin: 0 auto;
                font-family: 'Poppins-ExtraLight';
                @include br5;


                h2 {
                    margin: 0;
                    padding: 0;
                    margin-bottom: 5px;
                    font-size: 24px;
                    text-align: center;
                    color: #000000;
                    font-weight: bold;


                    @media (max-width: 630px) {
                       font-size: 18px;
                    }

                }

                input {
                    height: 50px;
                    @include br5;
                }

                input[type="text"],
                input[type="email"] {
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 15px;
                    border: 1px solid #ccc;
                    box-sizing: border-box;
                    font-family: 'Poppins-ExtraLight';
                }

                input[name="firstName"],
                input[name="lastName"] {
                    width: 49%;
                }

                input[name="firstName"] {
                    margin-right: 2%;
                }

                button {
                    width: 100%;
                    padding: 10px;
                    background-color: black;
                    border: none;
                    color: white;
                    font-size: 16px;
                    cursor: pointer;
                    @include br5;
                    font-family: 'Poppins-ExtraLight';
                }

                button:hover {
                    @include retroShake();
                }

                @media (max-width: 630px) {
                    width: 100%;
                }
            }
        }
    }

    .topSocials {
        margin: 0 0 -5px 0;
        z-index: 100;
        padding: 0;
        display: none;

        @media (max-width: 470px) {
            display: flex;
        }
    }

    .followPagePhoto {
        width: 35%;
        position: relative;
        max-width: 1000px;
        padding: 10px;
        height: 70%;

        @media (max-width: 630px) {
            width: 100%;
            position: none;
            // height: 50%;
        }

        img {
            object-fit: cover;
            @include br5;
        }
    }
}