@import '../mixins';
@import '../variables';

.infoPageContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 900px;
    height: 60vh;
    overflow: scroll;

    @media (max-width: 1200px) {
        height: 57vh;
    }

    @media (max-width: 630px) {
        height: 50vh;
    }

    .infoPagePhoto {
        width: 40%;
        text-align: center;
        height: auto;
        /* Ensures it scales properly */
        box-sizing: border-box;

        img {
            width: 100%;
            height: auto;
            max-width: 600px;
            @include br5;

            @media (max-width: 1080px) {
                width: 90%;
                max-width: 400px;
            }
        }

        img.mobile {
            display: none;
        }

        img.desktop {
            display: block;
        }

        @media (max-width: 1080px) {
            width: 100%;

            img.mobile {
                display: block;
                margin: 0 auto;
            }

            img.desktop {
                display: none;
            }
        }
    }

    .bioText {
        text-align: center;
        width: 60%;
        margin: 0 auto;
        line-height: 1.4rem;
        // @include flex-column-center();
        display: block;

        .textContainer {
            text-align: center;
            padding: 20px;
        }

        @media (max-width: 1080px) {
            width: 100%;
        }
    }
}