// Main Colors:
$poro-green: #89ab9686;
$poro-blue: #78a8c8; //#5F849D;
$poro-yellow: #e7c3807e;
$poro-red: #d071717e;
$poro-blue-light: #86bde1;

// Main colors 50%
$poro-green-50-percent: #89ab9630;
$poro-blue-50-percent: #78a8c89b;
$poro-yellow-50-percent: #e7c3803b;
$poro-red-50-percent: #d071712c;

// Social Animation Colors for Hover
$redColor: rgba(244, 67, 54, 1); //rgba(244, 67, 54, 1);
$blueColor: rgba(33, 150, 243, 1); //rgba(33, 150, 243, 1);

// Text Colors:
$homePageText-color1: #E8B9B9;
$homePageText-color2: #2E4959;
$homePageText-color3: #82BD82;

//From Nav Page
$primary-red: #a860707a;
// $primary-blue: #1c658c50;
// $primary-blue-50-percent: #1c658c20;
// $primary-dark-blue: rgba(34, 86, 109, 0.63);
// $primary-yellow: #dcb87981;
// $primary-white: #fbfbef;
// $primary-darkish: #6c6a82;

// Main Font
$main-font-family: 'Poppins-ExtraLight', cursive; // "Londrina Sketch", cursive;


