.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  border: 1px solid black;
  margin: 2.5vh;
  padding: 2px;
  height: 95vh;
  box-sizing: border-box;
  overflow: hidden;
}

.main {
  overflow: hidden;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
