.container {
  box-sizing: border-box;
  /* display: grid;
  grid-template-rows: auto 1fr auto; */
  display: flex; 
  flex-direction: column;

  border: 1px solid black;
  margin: 2.5vh; 
 
  height: 92vh;
  box-sizing: border-box;
 
  border-radius: 5px;
  background-color: #E2E4E5;
   padding: 2px; 
   overflow: hidden;
  /* padding-bottom: env(safe-area-inset-bottom);  */

  @media (max-height: 1200px) {
    height: 89vh;
  }

  // @media (max-height: 700px) {
  //   height: 83vh;
  // }

  @media (max-height: 800px) {
    height: 83vh;
  }

  @media (max-height: 500px) {
    height: 80vh;
  }

  @media (max-height: 400px) {
    height: 77vh;
  }
}

.main {
  flex-grow: 1; 
  display: flex;
  justify-content: center;
}
