.container {
  display: flex;
 flex-direction: column;
  align-items: stretch;
  border: 1px solid black;
  /* margin: 2.5vh; */
  padding: 2px;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 5px;
  background-color: #E2E4E5;
  overflow: hidden;
  padding-bottom: env(safe-area-inset-bottom); /* iOS safe area */
}

.main {
  flex: 1;
  display: flex;
}
