.container {
  box-sizing: border-box;
  /* display: grid;
  grid-template-rows: auto 1fr auto; */
  // display: flex; 
  // flex-direction: column;

  border: 1px solid black;
  min-height: 95vh;
  margin: 2.5vh;
 
  // margin: 2.5vh 2.5vh 7vh 2.5vh;
  // height: 88vh;
  box-sizing: border-box;
 
  border-radius: 5px;
  background-color: #E2E4E5;
   padding: 2px; 
   overflow: hidden;
  /* padding-bottom: env(safe-area-inset-bottom);  */


  // @media (max-width: 1200px) {
  //   height: 85vh;
  // }

  // @media (max-height: 750px) and (max-width: 630px) {
  //   height: 83vh;
  // }
}

.main {
  height: calc(100% - 200px);
  width: 100%;
  margin-top: 130px;
}
