.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  border: 1px solid black;
  margin: 2.5vh;
  padding: 2px;
  height: 95vh;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 5px;
}

.main {
  flex: 1;
  display: flex;
}
