.container {
  box-sizing: border-box;
  border: 1px solid black;
  // height: 95dvh;
  // margin: 2.5dvh;
  margin: 2.5dvh 2.5dvh 7dvh 2.5dvh;
  height: 88dvh;
  box-sizing: border-box;
 
  border-radius: 5px;
  background-color: #E2E4E5;
   padding: 2px; 
   overflow: hidden;
}

.main {
  height: calc(100% - 150px);
  width: 100%;
  margin-top: 100px;

  @media  screen and (max-width: 767px) {
    height: calc(100% - 120px);
    margin-top: 60px;
  }
}
