

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    align-content: center;
  }

  .image {
      width: 33%;
      // text-align: center;
      min-width: 200px; 
      max-width: 300px;
      margin: 3px 25px; 
      display: block;
  }

  .singleLine {
      background-color: black;
      min-width: 200px;
      height: 1px;
      // margin-top: -15px;
      display: block;
      width: 100%;
      animation: shake 0.5s;
      animation-iteration-count: infinite;
  }

  .h3 {
    text-align: center;
  }

  //keyframe animations
  @keyframes shake {
    0% { transform: translate(0px, -10px) rotate(0deg); }
    10% { transform: translate(-1px, -9px) rotate(-1deg); }
    25% { transform: translate(-2px, -8px) rotate(1deg); }
    37.5% { transform: translate(3px, -10px) rotate(0deg); }
    40% { transform: translate(1px, -12px) rotate(1deg); }
    50% { transform: translate(-3px, -10px) rotate(-1deg); }
    60% { transform: translate(-3px, -8px) rotate(0deg); }
    75% { transform: translate(1px, -13px) rotate(-1deg); }
    87.5% { transform: translate(-1px, -14px) rotate(1deg); }
    90% { transform: translate(1px, -10px) rotate(0deg); }
    100% { transform: translate(-2px, -9px) rotate(-1deg); }
  }