
@import './variables';
@import './mixins';


// INCLUDES 
.navLeft:focus-within {
  @include selectedPage ($poro-green-50-percent);
}

.navRight:focus-within {
  @include selectedPage ($poro-yellow-50-percent);
}

.navBottomLeft:focus-within {
  @include selectedPage ($poro-blue-50-percent);
}

.navBottomMiddle:focus-within {
  @include selectedPage ($poro-red-50-percent);
}

.navBottomRight:focus-within {
  @include selectedPage ($poro-red-50-percent);
}

.navLeft:hover, .navRight:hover, .navBottomLeft:hover, .navBottomMiddle:hover, .navBottomRight:hover {
  @include hoverNavLink;
  @include shakeOnHover;
}

.topNavs {
  @include bothBotAndTopNavs;
  @include textAndNavs;
}

.bottomNavs {
  @include bothBotAndTopNavs;
  @include textAndNavs;
  align-items: flex-end;
}

.navText {
  @include textAndNavs;
}

.navLeft {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  @include textAndNavs;
  background-color: $poro-green;
}


.navRight {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  @include textAndNavs;
  background-color: $poro-yellow;
}

.navBottomLeft {
  border-top: 1px solid black;
  border-right: 1px solid black;
  @include textAndNavs;
  background-color: $poro-blue;
}

.navBottomRight {
  border-top: 1px solid black;
  border-left: 1px solid black;
  @include textAndNavs;
  background-color: $poro-red;
}

.navBottomMiddle {
  @include textAndNavs;
  background-color: $poro-green;
}

.navBottomMiddle {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  @include textAndNavs;
}


// HEADER FOR BOTH MOBILE AND DESKTOP
.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  font-family: $main-font-family;
  font-size: 2rem;
  margin: 0 auto;
  position: relative;
  border: 2px solid black;
  border-top: none;
  padding: 0 5px 5px 5px;
  letter-spacing: 0.55rem;
  @include br5;
  @include transitionAnimation;

  @media (max-width: 767px) {
    margin: 0;
    border: 0;
    border-bottom: 1px solid black;
    padding: 0;
    letter-spacing: 0.85rem;
    font-size: 1.5rem;
    padding: 5px;
  }
}

.header h1 {
  margin: -15px auto -18px auto;
  padding: 0;
  text-align: center;
  padding-left: 5px;
  text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5), 
                2px -2px 0 rgba(255, 255, 255, 0.9); 
}

.header:hover {
  font-size: 2.5rem;
  border: 2.5px solid black;
  @include transitionAnimation;
  @include shakeOnHover();

  @media (max-width: 767px) {
    font-size: 1.6rem;
    border: 1px solid black;
  }
}

.header:focus-within {
  font-size: 2.5rem;
  border: 2.5px solid black;

  @media (max-width: 767px) {
    font-size: 1.6rem;
    border: 1px solid black;
  }
}

// what should be transitioned?
// transform: translate()
//transform: scale()
//transform: rotate()
// opacity
//----go back and change out font size and border with transform: scale()
// ---these take up the least amount of cpu processing

// transform: translatex(100px) translatey(10px) or just translate(15px) moves elements across screen