//$primary-blue: #1c658c50;
// $primary-dark-blue: rgba(34, 86, 109, 0.63);
// $primary-yellow: #dcb87981;
// $primary-red: #a860707a;
// $primary-white: #fbfbef;
// $primary-darkish: #6c6a82;

$poro-green: #89ab9686;
$poro-blue: #78a8c8; //#5F849D;
$poro-yellow: #e7c3807e;
$poro-red: #d071717e;